h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: bold;
  font-family: $display-font;
  color: #222;
}

h1 {
  font-size: 3.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.4rem;
  font-weight: normal;
  color: #999;
}

@media (min-width: 550px) {
  h1 {
    font-size: 3.8rem;
  }

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 1.8rem;
  }

  h4 {
    font-size: 1.6rem;
  }

  h5 {
    font-size: 1.4rem;
  }

  h6 {
    font-size: 1.4rem;
  }
}

p {
  margin-top: 0;
  font-size: 1.6rem;
}

em {
  color: #222;
  font-weight: bold;
  font-style: normal;
}

a {
  color: #689b98;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
  transition: color 0.2s;

  &:hover {
    color: #537d7b;
  }
}
