{% extends 'layout.html' %}
{% load custom_tags %}

{% block content %}

    <div class="circle--actions--bar">
        <nav class="bounds">
            <ul class="circle--pill--list">
                <li><a href="/">Applications</a></li>
                <li><a class="selected" href="{% url 'profiles:root' profile_id=user.id %}">Profile</a></li>
            </ul>
        </nav>
    </div>

    <div class="bounds circle--page">
        <div class="circle--page--header circle--fluid">
            <div class="circle--fluid--cell circle--fluid--primary">
                <h2>Profile</h2>
            </div>
            <div class="circle--fluid--cell circle--fluid--secondary">
                <input type="submit" form="profile_form" class="button button-primary icon-on-left"
                       value="Save Changes">
            </div>
        </div>

        <form id="profile_form" method="post">
            <div class="grid-70">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                    {{ hidden }}
                {% endfor %}
                {{ form.id }}
                {{ form.first_name.errors }}
                {{ form.first_name }}
                {{ form.last_name.errors }}
                {{ form.last_name }}
                {{ bio_form.id }}
                {{ bio_form.position.errors }}
                {{ bio_form.position }}
                <div class="circle--article--body">
                    {{ bio_form.about_me.errors }}
                    {{ bio_form.about_me }}
                </div>
                {% markdown_information %}

                <h2>Applied Projects</h2>
                <table class="u-full-width circle--table">
                    <thead>
                    <tr>
                        <th>Project Title</th>
                        <th class="circle--cell--right">Project Needs</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for application in applications %}
                        <tr class="clickable-row"
                            data-href="{% url 'create_project:root' pk=application.position__project__pk %}">
                            <td>
                                <h3>{{ application.position__project__name }}</h3>
                            </td>
                            <td class="circle--cell--right">
                                <span class="secondary-label">{{ application.position__name }}</span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="grid-25 grid-push-5">

                <div class="circle--secondary--module">
                    <div class="circle--primary--avatar">
                        <a class="button">
                            Upload Photo
                            <input type="file">
                        </a>
                    </div>
                </div>

                <div class="circle--secondary--module">
                    <h4>My Skills</h4>
                    <ul class="circle--clone--list">
                        {{ skill_formset.management_form }}
                        {% for skill_form in skill_formset %}
                            {{ skill_form.errors }}
                            <li>
                                {{ skill_form.id }}
                                {{ skill_form.name }}
                                <a class="circle--clone--add">Add Skill</a>
                                <div class="circle--clone--remove">{{ skill_form.DELETE.label }} {{ skill_form.DELETE }}</div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="circle--secondary--module">
                    <h4>Current Projects</h4>
                    <ul class="circle--clone--list">
                        {% for position in current_positions %}
                            <li>
                                <a href="{% url 'create_project:root' pk=position.position__project__pk %}">{{ position.position__project__name }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
