{% extends 'layout.html' %}
{% load custom_tags %}

{% block content %}
    <div class="circle--actions--bar">
        <nav class="bounds">
            <ul class="circle--pill--list">
                <li><a href="{% url 'profiles:user_dashboard' profile_id=user.pk %}">Applications</a></li>
                <li><a {% if current_profile.pk == user.pk %}class="selected" {% endif %}
                       href="{% url 'profiles:root' profile_id=user.pk %}">Profile</a></li>
            </ul>
        </nav>
    </div>

    <div class="bounds circle--page">
        <div class="circle--page--header circle--fluid">
            <div class="circle--fluid--cell circle--fluid--primary">
                <h2>Profile</h2>
            </div>
            {% if current_profile.pk == user.pk %}
                <div class="circle--fluid--cell circle--fluid--secondary">
                    <a class="button icon-on-left" href="{% url 'profiles:edit' %}">Edit</a>
                </div>
            {% endif %}
        </div>

        <div class="grid-70">
            <h1>{{ current_profile.first_name }} {{ current_profile.last_name }}</h1>
            <div class="circle--article--body markdownx-preview">
                {{ current_profile.profile.about_me_formatted_markdown|safe }}
            </div>

            <h2>Applied Projects</h2>
            <table class="u-full-width circle--table">
                <thead>
                <tr>
                    <th>Project Title</th>
                    <th class="circle--cell--right">Position</th>
                    <th class="circle--cell--right">Status</th>
                </tr>
                </thead>
                <tbody>
                {% for application in applications %}
                    <tr>
                        <td>
                            <h3>{{ application.position__project__name }}</h3>
                        </td>
                        <td class="circle--cell--right">
                            {{ application.position__name }}
                        </td>
                        <td class="circle--cell--right">
                            {{ application.status }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="grid-25 grid-push-5">

            <div class="circle--secondary--module">
                <div class="circle--primary--avatar">

                </div>
            </div>

            <div class="circle--secondary--module">
                <h4>My Skills</h4>
                <ul class="unloaded">
                    {% for skill in current_profile.profile.skills.all %}
                        <li>{{ skill.name }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div class="circle--secondary--module">
                <h4>My Projects</h4>
                <ul class="circle--link--list">
                    {% for position in current_positions %}
                        <li>
                            <a href="{% url 'project:root' pk=position.position__project__pk %}">{{ position.position__project__name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
{% endblock %}
