{% extends 'layout.html' %}

{% block content %}

    {% if is_project_owner %}
        <div class="circle--actions--bar">
            <div class="bounds">
                <div class="grid-100">
                    <a class="button" href="{% url 'project:edit' pk=project.pk %}">Edit Project</a>
                    <form class="circle--form--delete" method="post" action="{% url 'project:delete' pk=project.pk %}">
                        {% csrf_token %}<input class="button button-text" type="submit" value="Delete Project">
                    </form>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="bounds circle--page circle--article">
        <div class="grid-70">
            <div class="circle--article--header">
                <h4 class="circle--article--section">Project</h4>
                <h1 class="circle--article--title">{{ project.name }}</h1>
                <p class="circle--article--byline">Project Owner:
                    <a href="{% url 'profiles:root' profile_id=project.owner.pk %}">{{ project.owner.first_name }} {{ project.owner.last_name }}</a>
                </p>
            </div>

            <div class="circle--article--body markdownx-preview">
                <p>{{ project.description_formatted_markdown|safe }}</p>
            </div>

            <div class="circle--project--positions">
                <h2>Positions</h2>

                <ul class="circle--group--list">
                    {% for position in project_positions %}
                        <li>
                            <h3>{{ position.name }}</h3>
                            <div class="markdownx-preview">
                                <p>{{ position.description_formatted_markdown|safe }}</p>
                            </div>
                            {% if is_project_owner %}
                                <a class="button button-primary"
                                   href="{% url 'profiles:user_dashboard' profile_id=user.pk %}?project={{ project.name }}">View
                                    Applications</a>
                            {% elif user.is_authenticated %}
                                {% if position.user_applied %}
                                    <a class="button button-primary button-inactive circle--ajax--applicant-delete"
                                       href="{% url 'project:applicant_delete' pk=position.user_applied %}"
                                       data-id="{{ position.user_applied }}">You've Applied</a>
                                {% else %}
                                    {% if position.filled %}
                                        <button class="button button-primary button-inactive">Position Filled</button>
                                    {% else %}
                                        <a class="button button-primary circle--ajax--applicant-create"
                                           href="{% url 'project:applicant_create' %}"
                                           data-user="{{ user.id }}" data-position="{{ position.id }}">Apply</a>
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

        </div>

        <div class="grid-25 grid-push-5">
            <div class="circle--secondary--module">
                <h3>Project Needs</h3>
                <ul class="circle--link--list">
                    {% for position in project.projectposition_set.all %}
                        <li><a>{{ position.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="circle--secondary--module">
                <h3>Project Timeline</h3>
                <p>{{ project.time_involvement_hours }} hour{{ project.time_involvement_hours|pluralize }}</p>
            </div>

            <div class="circle--secondary--module">
                <h3>Applicant Requirements</h3>
                <p>{{ project.applicant_requirements }}</p>
            </div>

        </div>
    </div>

{% endblock %}
