{% extends 'layouts/project_layout.html' %}
{% load custom_tags %}

{% block project_urls %}
    <input type="submit" form="project_form" class="button button-primary" value="Save Project">
    {% if project %}
        <form class="circle--form--delete" method="post" action="{% url 'project:delete' pk=project.pk %}">
            {% csrf_token %}<input class="button button-text" type="submit" value="Discard">
        </form>
    {% endif %}
{% endblock %}

{% block project_body %}
    <form id="project_form" method="post">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {{ form.errors }}
        {{ form.id }}
        <div class="circle--article--body">
            {{ form.name.errors }}
            {{ form.name }}
            {{ form.description.errors }}
            <h2 class="circle--form--title tooltip__descriptor">Project Description</h2>
            {% markdown_information %}
            <p class="circle--form--subheader"></p>
            {{ form.description }}
        </div>

        <div class="circle--project--positions">
            <h2>Positions</h2>
            <ul class="circle--group--list circle--clone--list">
                {{ project_positions_formset.management_form }}
                {% for position_form in project_positions_formset %}
                    <li>
                        {{ position_form.errors }}
                        {{ position_form.id }}
                        {{ position_form.name }}
                        <p class="circle--form--title tooltip__descriptor">Position Description</p>
                        {% markdown_information %}
                        {{ position_form.description }}
                        <p class="circle--form--title">{{ position_form.time_involvement.label }} {{ position_form.time_involvement.help_text }}</p>
                        {{ position_form.time_involvement }}
                        {{ position_form.related_skills }}
                        <a class="circle--clone--add">Add Position</a>

                        <div class="circle--clone--remove">{{ position_form.DELETE.label }} {{ position_form.DELETE }}</div>
                    </li>
                {% endfor %}
            </ul>
            <input type="submit" class="button button-primary" value="Save Project">
        </div>
    </form>
{% endblock %}

{% block project_sidebar %}
    <div class="circle--secondary--module">
        <h3>Project Timeline</h3>
        {{ form.time_involvement.errors }}
        <textarea form="project_form" name="{{ form.time_involvement.name }}"
                  id="{{ form.time_involvement.id_for_label }}"
                  class="circle--textarea--input"
                  placeholder="Time estimate"
        >{{ form.time_involvement.initial }}</textarea>
    </div>

    <div class="circle--secondary--module">
        <h3>Applicant Requirements</h3>
        {{ form.applicant_requirements.errors }}
        <textarea form="project_form" name="{{ form.applicant_requirements.name }}"
                  id="{{ form.applicant_requirements.id_for_label }}"
        >{{ form.applicant_requirements.initial }}</textarea>
    </div>
    <div class="circle--secondary--module">
        <p>Don't know markdown? Here's a <a href="https://www.markdownguide.org/basic-syntax" target="_blank">quick
            guide</a></p>
    </div>
{% endblock %}

{% block extra_js %}
    {{ form.media }}
{% endblock %}
